<extend name="$_home_public_layout"/>
<block name="style">

<style>

    .product
    {
        border: 1px #eeeeee solid;
        padding: 4px;
        padding-left:20px ;
        border-left: none;
        border-right: none;
    }
    .name{
        color:#888888;
    }
    .content{
        margin: 10px;
    }

</style>
</block>
<block name="full-container" >
<div class="container " style="padding: 0px">



    <div class="content">{$product.content}</div>

    </div>
<div style="height: 40px;"></div>
</block>


</body>
</html>